html, body {
    min-height: 100dvh;
}

 html {
    scroll-behavior: smooth !important;
    -webkit-text-size-adjust: 100%;
    font-size: 50%;
 }

 body {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu';
    background: rgb(4, 0, 20);
    padding-bottom: env(safe-area-inset-bottom);
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 6.5rem;
    box-shadow: rgba(0, 0, 0, 0.712) 0px 8px 24px;
    background-color:rgb(7, 13, 49);
}

.header-center {
    font-size: 1.5rem;
}

.header-right {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    font-size: 2rem;
    gap: 2rem;
}

.header a:hover {
    color: #fcbdbd;
}

/* LANDING PAGE */

/* FILM CAROUSEL */

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: hidden; 
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.carousel {
    display: flex;
    width: fit-content;
    gap: 20px; 
    padding: 20px 0; 
    animation: continuous-scroll 30s linear infinite; 
}

.poster {
    flex-shrink: 0;
    width: 200px;
    height: 300px;
    outline: 2px solid red;
}

@keyframes continuous-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-860px); 
    }
}
