@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    min-height: 100dvh;
}

 html {
    scroll-behavior: smooth !important;
    -webkit-text-size-adjust: 100%;
    font-size: 50%;
 }

 body {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    padding-bottom: env(safe-area-inset-bottom);
    margin: 0;
    background-color: #ECECEC;
    background-image: url("../img/background-image.png");
    background-repeat: repeat;
    background-attachment: fixed;
    animation: moveBackground 50s infinite;
}

/* BACKGROUND ANIMATION */

@keyframes moveBackground {
    0%
    {
        background-position: 0% 0%;
    }
    50%
    {
        background-position: 0% 50%;
    }
    100% 
    {
        background-position: 0% 0%;
    }
}

button {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height: 8vh;
    letter-spacing: 3px;
    color: #990000;
}

.header-center {
    font-size: 1.5rem;
    margin-left: 4rem;
}

#header-divider {
    width: 0.2rem;
    height: 3rem;
    background-color: black;
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4rem;
    margin-left: auto;
    font-size: 2rem;
    gap: 2rem;
}

.header-right a {
    color: #990000;
}

/* LANDING PAGE */

.landing-page {
    display: flex;
    flex-direction: column;
    height: 92vh;
}

/* LANDING PAGE HEADER */

.landing-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 25rem;
    letter-spacing: 1px;
}

.landing-page-header p {
    font-size: 3rem;
    margin: 0;
    margin-top: 1rem;
}

/* UNDERLINE */

/* FILM CAROUSEL */

.carousel-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: max-content;
    gap: 3rem; 
    padding: 2rem 0; 
    animation: continuous-scroll 30s linear infinite; 
}

.poster {
    flex-shrink: 0;
    width: 35rem;
    height: 52.5rem;
    border-radius: 1rem;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 20px;
    transition: 0.5s ease;
}

.poster:hover {
    transform: scale(105%);
}

#batman {
    background-image: url("../img/batman.png");
}

#inception {
    background-image: url("../img/inception.png");
}

#lord-of-the-rings {
    background-image: url("../img/lord-of-the-rings.png");
}

#pulp-fiction {
    background-image: url("../img/pulp-fiction.png");
}

#shawshank {
    background-image: url("../img/shawshank.png");
}

#star-wars {
    background-image: url("../img/star-wars.png");
}

#eternal-sunshine {
    background-image: url("../img/eternal-sunshine.png");
}

#oppenheimer {
    background-image: url("../img/oppenheimer.png");
}

#shining {
    background-image: url("../img/shining.png");
}

#spirited-away {
    background-image: url("../img/spirited-away.png");
}

#toy-story {
    background-image: url("../img/toy-story.png");
}

@keyframes continuous-scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-205rem); 
    }
}

/* ANALYSE FILMS BUTTON */

.analyse-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.analyse-button button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    color: white;
    background-image: linear-gradient(rgba(63, 0, 0, 0.815),rgba(34, 0, 0, 0.822));
    height: 7rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 1rem;
    font-size: 3rem;
}

/* TITLE TEXT EFFECTS */

.masked-text {
    font-size: 6rem;
    font-weight: bold;
    color: transparent;
    background-image: url("../img/red-text-filter.jpg");
    background-size: 200%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 10s infinite linear;
    margin: 0;
}

@keyframes animate-background {
    0% {
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
