<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <title>Filmlytic</title>
    <link rel="stylesheet" href="../static/css/recommendations.css">
</head>
<body>

    <div class="header">
            <div class="header-center">
                <h1>FILMLYTIC</h1>
            </div>
            <div class="header-right">
                <a href="#"><h4>CREATE ACCOUNT</h4></a>
                <span id="header-divider"></span>
                <a href="#"><h4>SIGN IN</h4></a>
            </div>
        </div>

    <div class="page-container">

        <div class="landing-page-header">
            <div class="masking-container">
                <h1 class="masked-text">SELECT YOUR FOUR FILMS</h1>
            </div>
            <p>Unlock personalised recommendations based on your taste.</p>
        </div>

        <div class="carousel-container">
            <div class="poster"></div>
            <div class="poster"></div>
            <div class="poster"></div>
            <div class="poster"></div>
        </div>

        <div class="analyse-button">
            <a href="./recommendations.html"><button>GET RECOMMENDATIONS</button></a>
        </div>

        <div id="filmModal" class="modal-overlay">
            <div class="modal-content">
                <input type="text" id="filmSearch" placeholder="Search for a film..." />
            </div>
        </div>

    </div>

    <script src="../static/js/modal.js"></script>
    
</body>
</html>